<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js do Jeito Ninja</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <navbar></navbar>
        <h1>{{ title }}</h1>

        <hr />
        <div v-if="user.id == 1">
            Id: {{ user.id }}, <br />
            Name: {{ user.name }}, <br />
            Occupation: {{ user.occupation }}
        </div>
        <div v-else>
            Nenhum usuário encontrado.
        </div>

        <hr />
        <ul>
            <li v-for="item in languages">{{ item.name }}</li>
        </ul>

        <hr />
        <form>
            <label for="name">Nome</label><br />
            <input type="text" v-model="form.firstName">
            <input type="text" v-model="form.lastName"><br /><br />

            <label for="news">Deseja receber nossas novidades?</label><br />
            <input type="radio" value="Sim" v-model="form.news"> Sim<br />
            <input type="radio" value="Não" v-model="form.news"> Não<br /><br />

            <label for="languages">Linguagens</label><br />
            <input type="checkbox" value="JavaScript" v-model="form.languages"> JavaScript<br />
            <input type="checkbox" value="Java" v-model="form.languages"> Java<br />
            <input type="checkbox" value="ShellScript" v-model="form.languages"> ShellScript<br />
            <input type="checkbox" value="Perl" v-model="form.languages"> Perl<br />
            <input type="checkbox" value="Python" v-model="form.languages"> Python<br /><br />

            <label for="directive">Diretiva</label><br />
            <select name="directive" v-model="form.directive">
                <option value="">Selecione</option>
                <option value="v-if">v-if</option>
                <option value="v-else">v-else</option>
                <option value="v-show">v-show</option>
                <option value="v-model">v-model</option>
            </select><br /><br />

            <div>
                Nome: {{ fullName }}<br />
                Deseja receber nossas novidades?: {{ form.news }}<br />
                Linguagens: {{ form.languages }}<br />
                Diretiva: {{ form.directive }}<br />
            </div>
        </form>

        <hr />
        <img v-bind:src="imgSrc" :alt="imgAlt">

        <hr />
        <button class="btn" :class="btnClassLimpar" :style="btnStyleLimpar">LIMPAR</button>
        <button class="btn" :class="btnClassEnviar" :style="btnStyleEnviar">ENVIAR</button>

        <hr />
        <form action="https://google.com">
            <button type="submit" class="btn btn-primary" v-on:click="enviar()">v-on:click</button>
            <button type="submit" class="btn btn-primary" v-on:click.prevent.stop="enviar()">v-on:click.prevent.stop</button>
            <button type="submit" class="btn btn-primary" @click.prevent.stop="enviar()">@click.prevent.stop</button>
        </form>

        <hr />
        <ul>
            <li v-for="lang in languages">{{ lang.name | toUpperCase() | truncate(4) }}</li>
        </ul>
    </div>

    <template id="nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <menu-bar></menu-bar>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </template>

    <template id="menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </template>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component('navbar', {
            template: '#nav',
        });
        
        Vue.component('menu-bar', {
            template: '#menu',
        });

        var app = new Vue({
            el: "#app",
            data: {
                title: "Vue.js do Jeito Ninja",
                user: {
                    id: 1,
                    name: "Jon Snow",
                    occupation: "Actor",
                },
                languages: [
                    { name: "JavaScript" },
                    { name: "Java" },
                    { name: "ShellScript" },
                    { name: "Perl" },
                    { name: "Python" },
                ],
                form: {
                    firstName: "",
                    lastName: "",
                    news: "",
                    languages: [],
                    directive: "",
                },
                imgSrc: "https://vuejs.org/images/logo.png",
                imgAlt: "Vue.js Logo",
                btnClassLimpar: {
                    'btn-danger': true,
                    'btn-sm': true,
                },
                btnClassEnviar: [
                    'btn-primary', { 'btn-lg': false },
                ],
                btnStyleLimpar: [
                    { 'font-size': '50px' },
                    { 'text-transform': 'lowercase' },
                ],
                btnStyleEnviar: {
                    'font-size': '10px',
                }
            },

            methods: {
                enviar() {
                    alert('Vue.js Methods');
                }
            },

            filters: {
                toUpperCase(str) {
                    return str.toUpperCase();
                },
                truncate(str, length=str.length) {
                    return  str.substring(0, length) + (length < str.length ? '...' : '');
                }
            },

            computed: {
                fullName() {
                    return [this.form.firstName, this.form.lastName].join(' ');
                }
            },

            watch: {
                title(newValue, oldValue) {
                    console.log(`newValue ${newValue}, oldValue ${oldValue}`);
                }
            },

            beforeCreate() {
                console.log(`beforeCreate, title: ${this.title}, $el: ${this.$el}`);
            },
            created() {
                console.log(`created, title: ${this.title}, $el: ${this.$el}`);
            },
            beforeMount() {
                console.log(`beforeMount, title: ${this.title}, $el: ${this.$el}`);
            },
            mounted() {
                console.log(`mounted, title: ${this.title}, $el: ${this.$el}`);
            },
            beforeUpdate() {
                console.log(`beforeUpdate`);
            },
            updated() {
                console.log(`updated`);
            },
        });
    </script>
</body>
</html>